* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html { font-size: 62.5%;}

/* small tablet style */
@media screen and (min-width: 620px) {
}
/**/

@media screen and (min-width: 960px) {
}
/**/
@media screen and (min-width: 1200px) {
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 100%, 74%);
   

    background-image: url(../public/images/bg-intro-mobile.png);
}
.App {

    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: center;
padding-bottom: 5rem;
}
